<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <link rel="stylesheet" href="../statics/Barra_navegacion.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class='topnav'>
        <a class='active' href='Inicio.html'>Inicio</a>
        <a href='#news'>Menu</a>
        <a href='#contact'>Mapa</a>
        <div class='topnav-right'>
          <a href='Registrate.html'>Registrate</a>
          <a href='Inicio_sesion.html'>Inicio sesion</a>
        </div>
    </div>
    <h1>Lorem ipsum dolor sit amet</h1>
    <p> consectetur adipiscing elit. In pretium felis quis condimentum tempus. Nullam ex odio, vehicula interdum magna non, iaculis vestibulum justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc ante tortor, sodales non lectus vitae, consequat venenatis ipsum. Aliquam quis ligula sit amet tellus accumsan tincidunt. Cras malesuada bibendum augue, at malesuada massa porttitor vel. Mauris bibendum molestie est, id gravida risus. Donec varius, augue volutpat rutrum sagittis, nisl mi malesuada purus, in vehicula urna tortor quis neque.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam sagittis tellus eu risus euismod eleifend. Praesent mattis, odio ac efficitur iaculis, diam nibh blandit lacus, sit amet condimentum quam nulla et turpis. Donec facilisis fermentum mi, ut ultricies purus placerat vitae. Aenean eu neque tortor. Praesent a quam eget elit mattis dapibus. Phasellus eleifend, arcu a auctor cursus, est magna bibendum purus, sed rhoncus massa felis in justo. Phasellus risus sapien, dictum in mauris at, ullamcorper egestas dui. Phasellus hendrerit nisi vulputate turpis placerat, a elementum mi rhoncus. Suspendisse in rhoncus est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque eu faucibus sapien. Nullam elementum tortor ac tortor feugiat, a tempor enim luctus.

Duis pulvinar velit sit amet purus fermentum vulputate ut eget ligula. Nulla ac ornare tellus. Aenean tincidunt diam sed dolor tempor tempus. Sed erat turpis, tempus non turpis sed, luctus tempor risus. Ut hendrerit dapibus lacus id tristique. Aenean dictum sagittis urna id lobortis. Duis non fringilla mauris. Suspendisse id tellus sit amet ligula cursus posuere sit amet id ipsum. Morbi egestas non augue eget ornare. In hac habitasse platea dictumst. Suspendisse fermentum sit amet magna sed lacinia. Sed ultrices ut sapien eu vulputate. Pellentesque accumsan aliquet metus eu accumsan. Suspendisse potenti. Vestibulum volutpat enim sit amet arcu aliquet, eget maximus lacus consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </body>
</html>
